pandas==1.0.1
#-e git+git://github.com/QuailAutomation/nhl_scraper@master#egg=nhl_scraper
-e library/nhl_scraper
selenium
beautifulsoup4==4.8.2
lxml==4.5.0
#-e git+git://github.com/QuailAutomation/yahoo_fantasy_api@master#egg=yahoo_fantasy_api
-e library/yahoo_fantasy_api
yahoo_oauth==0.1.9
unidecode
progressbar
npyscreen
openpyxl
pytest==5.3.5
elasticsearch>=6.0.0,<7.0.0
celery==4.4.1
get-docker-secret==1.0.1
redis==3.4.1
elasticsearch-dsl==6.4.0
flask==1.1.1
pydocstyle==5.0.*
jsons==1.1.2