pandas
#nhl_scraper
git+git://github.com/QuailAutomation/nhl_scraper@master
selenium
beautifulsoup4
lxml
#yahoo_fantasy_api
git+git://github.com/QuailAutomation/yahoo_fantasy_api@master
yahoo_oauth
unidecode
progressbar
npyscreen
openpyxl
pytest
