pandas==1.0.1
#nhl_scraper
git+git://github.com/QuailAutomation/nhl_scraper@master
selenium
beautifulsoup4
lxml
#yahoo_fantasy_api
git+git://github.com/QuailAutomation/yahoo_fantasy_api@master
yahoo_oauth
unidecode
progressbar
npyscreen
openpyxl
pytest
elasticsearch>=6.0.0,<7.0.0
celery==4.4.1
get-docker-secret==1.0.1
